

      <div class="login-container">
          <div class="login-info-container">

            <div class="social-login">
                <div class="social-login-element">
                    <!-- <img src="assets/img/img-login.png" alt="google-image"> -->
                    <span>UMC</span>
                </div>
            </div>

            <h1 class="title">INICIO DE SESION </h1>

            <form class="inputs-container">
                <input class="input" type="text" placeholder="Username">
                <input class="input" type="text" placeholder="Password">
              
                <button class="btn">login</button>
                
            </form>
          </div>
            <img class="image-container" src="assets/img/img-login.png" alt="">
      </div>

