<!-- <app-spinner [altura]="'66px'" *ngIf="conteo.esLoadData || loadEventosMaquina"></app-spinner> -->
<tr class="trBodyTable" >
  <!-- ZONA -->
  <td >
    <div class="containerRowData">

    </div>
  </td>

  <!-- MAQUINA -->
  <td >
    <div class="containerRowData">
<!--HORA INICIO -->
  <td >
    <div class="containerRowData">
      <input type="time" class="inputMatrizhora" formControlName="HoraInicio"  />
    </div>
  </td>

  <!-- HORA FIN -->
  <td >
    <div class="containerRowData">

      <input type="time" />
    </div>
  </td>

  <!-- EVENTO -->
  <td >
    <div class="containerRowData">

    </div>
  </td>

  <!-- OBSERVACION -->
  <td>
    <div class="containerRowData">

      <input type="text" class="inputMatriz" formControlName="Observacion" />
    </div>
  </td>

  <!-- ACCIONES -->
  <td >
    <div class="containerRowData">

      <button  class="btn btn-guardar">
        <div class="text-icon-btn">
          <!-- <mat-icon svgIcon="save_solid" ></mat-icon> -->
        </div>
      </button>
      <button >
        <div class="text-icon-btn">
          <!-- <mat-icon svgIcon="pen_solid" ></mat-icon> -->
        </div>
      </button>
      <button >
        <div class="text-icon-btn">
          <!-- <mat-icon svgIcon="trash_solid" ></mat-icon> -->
        </div>
      </button>
    </div>
  </td>
<!-- </tr> -->

